*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.blueheader {
  background-color: rgb(0, 114, 188);
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0em .8em 0 .8em;
}
p {
  margin: .1em;
  font-size: 0.8em;
}
.firstline{
  display: grid;
  grid-template-columns: 1fr 260px;
}
h1{
  margin-bottom: 0;
  font-size: 1.8em;
}
img {
  width: 250px;
  margin-top: 15px;
  margin-right: 10px;
}
.secondline {
  margin: .5em 0;
}
.bolder {
  font-weight: 700;
}
.turnright {
  text-align: end;
  padding: 0 .5em .5em 0;
  font-size: 0.7em;
}
h3 {
  margin: .4em 0 0.2em 0;
  font-size: 1em;
}
.pbla1, .pbla2{
  text-align: justify;
  font-size: 0.7em;
}